<!DOCTYPE html>
<html>
<head>
	<title>Vue App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
	<div class="container">
  	<div class="row">
			<div id="app">
        <counter></counter>
			</div>
	  </div>
	</div>
	<script>
  var counter = Vue.component('counter' , {
    template: `
    <div>
      <div> Count: {{this.count}} </div>
      <button class="btn btn-success" @click="increment"> Increment by 1 </button>
    </div>
    `,
    data() {
      return {
        count: 0
      }
    },
    methods: {
      increment() {
        this.count += this.addNum
      }
    }
  })
		var app = new Vue({
			el: '#app',
			components: {
        counter
      }
		})
	</script>
</body>
</html>
